/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

button {
  text-transform: uppercase;
  font-size: 1.25rem;
  height: 65px;
}

.white {
  background: white;
  color: #540B51
}

.purple {
  background: #540B51;
  color: white;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.container {
  padding: 20px;
}

  /* nav parent */
  .nav-bar {
    /* Background for nav bar */
    background:#540B51;
    
    align-items: center;
  /* Flexbox styles */
    display: flex;
    justify-content: space-between;
  
  }
  
  /* Logo */
  .left img {
    width: 5rem;
  }
  
  /* Right buttons */
  .right button {
    border: none;
    background: #540B51;
  }
  
  .search-btn {
    margin-right: 8px;
  }
  
  .right img {
    width: 1.5rem;
  }


  /* Header  */
  header {
    background:#540B51;
  }

  header h1 {
    margin: 0;
    color: #fff;
  }

  .top-container {
    display: flex;
    text-align: center;
  }

  .top-container p {
    font-size: 1.9rem;
    color: #fff;
    margin-top: 30px;
  }

  .top-container span {
    color: #ECB12F;
  }

  .btn-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .btn {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    
  }

  .email-btn {
    color: #540B51;
  }

  .google-btn {
    background: #2E71A6;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .google-btn span {
    color: white;
    margin-left: auto;
    margin-right: auto;
  }

  .google-btn img {
    height: 45px;
    width: 45px;
    background: white;
    border-radius: 3px;
  }
  

  .screenshot-container {
    margin-top: 20px;
  }

  .screenshot-container img {
    width: 100%;
  }


  /* Companies Section */
  .companies.container {
    padding: 50px;
  }
  .companies {
    background: #F3EAE2;
  }  

  .companies p {
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  .companies .logos {
    display: flex;
    flex-direction: column;
  }

  .bottom-images, 
  .top-images {
    display: flex;
    justify-content: space-between;
  }

  .companies p {
    margin: 0;
  }

  .bottom-images,
  .top-images {
    padding-top: 40px;

  }

  .top-images img {
    width: 55px;
    height: 30px;
  }

  .bottom-images img {
    width: 200px;
  }


  /* Bring team section  */
  .article {
    padding: 20px;
    background: #F3EAE2;
  }

  .article img {
    width: 95%;
  }


  .article h2 {
    font-size: 2rem;
  }

  .article p {
    font-size: 1.3rem;
    line-height: 27px;
  }

  .article a {
    text-decoration: none;
  }

  .article span {
    color: #2E71A6;
    font-size: 1.3rem;
  }


  /* Slack Section */
  .slack {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .slack h3 {
    font-size: 2rem;
  }

  .slack p {
    font-size: 1.3rem;
    line-height: 27px;
    margin: 0;
  }

  .btn.slack {
    background: #540B51;
    color: white;
  }

  .btn.sales {
    background: white;
    border: 1px solid #540B51;
    color: #540B51
  }


  .percentages-container {
    padding-top: 50px;
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }

  .percentages-container span {
    color: #540B51;
    font-size: 3rem;
    font-weight: bold;
  }

  .percentages-container p {
    color: black;
    font-weight: bold;
    width: 34%;
    margin: 3px auto;
  }

  .welcome {
    text-align: center;
    background: #540B51;
  }

  .welcome .purple {
    border: 1px solid white;
  }

  .welcome h3 {
    color: white;
    font-size: 3rem;
    width: 80%;
  }


  /* Footer */
  footer {
    padding: 30px
  }

  footer img {
    width: 50px;
    margin-bottom: 20px;
  }

  footer ul {
    padding: 0;
  }

  /* Removing the bullet */
  footer ul {
    list-style-type: none;
  }

  /* Divider  */
  hr {
    margin:60px 0;
  }

  .column-display {
    display: flex;
    flex-direction: column;
    gap: 38px
  }

  .row-display {
    display: flex;
    gap: 50px;
    justify-content: space-between;
  }


  .list-header{
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
  }

  .footer-icons {
    margin: 50px 0;
  }

  .footer-icons i {
    font-size: 2rem;
  }

  .bold {
    font-weight: bold;
  }

  .wrapper {
    display: flex;
    align-items: center;
    height: 20px;
    gap: 10px
  }

  .wrapper img {
    width: 20px;
  
  } 

  footer .wrapper img {
    padding-top: 20px;
  }

  .download {
    color: #2E71A6
  }

  .grey-text {
    color: #454245
  }
  




@media(max-width:768px){
  .container {
    max-width: 768px;
  }
  /* Hide the menu items on mobile devices */
  .menu-items {
    display: none;
  }

  /* size of text for mobile  */
  header h1 {
    font-size: 4rem;
  }

  /* putting top items in a column */
  .top-container {
    flex-direction: column;
    align-items: center;
  }

}