/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

button {
  text-transform: uppercase;
  font-size: 1.25rem;
  height: 65px;
}

.container {
  padding: 20px;
}

  /* nav parent */
  .nav-bar {
    /* Background for nav bar */
    background:#540B51;
    
    align-items: center;
  /* Flexbox styles */
    display: flex;
    justify-content: space-between;
  
  }
  
  /* Logo */
  .left img {
    width: 5rem;
  }
  
  /* Right buttons */
  .right button {
    border: none;
    background: #540B51;
  }
  
  .search-btn {
    margin-right: 8px;
  }
  
  .right img {
    width: 1.5rem;
  }


  /* Header  */
  header {
    background:#540B51;
  }

  header h1 {
    margin: 0;
    color: #fff;
  }

  .top-container {
    display: flex;
    text-align: center;
  }

  .top-container p {
    font-size: 1.9rem;
    color: #fff;
    margin-top: 30px;
  }

  .top-container span {
    color: #ECB12F;
  }

  .header-buttons-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .header-buttons-container button {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    
  }

  .email-btn {
    color: #540B51;
  }

  .google-btn {
    background: #2E71A6;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .google-btn span {
    color: white;
    margin-left: auto;
    margin-right: auto;
  }

  .google-btn img {
    height: 45px;
    width: 45px;
    background: white;
    border-radius: 3px;
  }
  

  .screenshot-container {
    margin-top: 20px;
  }


@media(max-width:768px){
  .container {
    max-width: 768px;
  }
  /* Hide the menu items on mobile devices */
  .menu-items {
    display: none;
  }

  /* size of text for mobile  */
  header h1 {
    font-size: 4rem;
  }

  /* putting top items in a column */
  .top-container {
    flex-direction: column;
    align-items: center;
  }

}